div(class="wrap-services")
  ul(class="services-list width_layout")
    li(class="services-item")
      h2(class="services-subheading" id="services")
        img(src="/images/compress/palette.png" class="services-icon")
        span(class="services-title") services
      each service in services
        h3(class="services-subsubheading")= service.heading
        p(class="services-text")= service.text
    li(class="services-item")
      h2(class="services-subheading")
        img(src="/images/compress/twitter.png" class="services-icon")
        span(class="services-title") tweets
      each tweet in tweets
        p(class="services-text indent")= tweet.text
    li(class="services-item")
      h2(class="services-subheading" id="contact")
        img(src="/images/compress/mail.png" class="services-icon")
        span(class="services-title") contact
      p(class="services-text indent") If you’re interested in getting a quote for a project or if you just have some questions, please email me with the details and I will get in touch with you as soon as possible. you can also find me on several social networking sites, my profiles are listed below.
      p(class="services-text indent") Email: 
        a(href="#" class="email-link")= mail
      each icon in icons
        p(class="service-icon")
          img(src= icon.src)
          a(href="#" class="icon-link")= icon.text
    a(href="#top" class="return_top") Return to top